.ais-SearchBox-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-width: 1000px;
  margin: 0 0.5rem;

  .ais-SearchBox-input {
    padding: 0 1rem;
    width: 100%;
    height: 3.5rem;
    margin: 0 0 1rem 0;

    font-size: inherit;
    font-family: inherit;
    background: #fff;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    &:focus {
      outline: 0;
    }
  }

  .ais-SearchBox-submit {
    position: absolute;
    right: 10px;
    border: none;
    background-color: transparent;
    margin: 3px 0 1rem 0.25rem;
    cursor: pointer;

    svg {
      height: 35px;
      width: 35px;

      path {
        fill: #000;
      }
    }

    @include sm {
      right: 10px;
    }
  }

  .ais-SearchBox-reset {
    position: absolute;
    right: 55px;
    border: none;
    background-color: transparent;
    margin: 0 0 1rem 0;
    cursor: pointer;

    svg {
      height: 20px;
      width: 20px;

      stroke: #fff;
      stroke-width: 1px;

      path {
        fill: #aaa;
      }
    }

    &:hover {
      svg {
        path {
          fill: #222;
        }
      }
    }

    @include sm {
      right: 45 px;
    }
  }

  @include sm {
    min-width: auto;
  }
}

.ais-Hits {
  margin: 0 0.5rem;
  max-width: 1000px;
  .ais-Hits-list {
    margin: 0;
    padding: 0;

    .ais-Hits-item {
      background: #ffffff;
      border: 1px solid #e0e0e0;
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      list-style: none;
      padding: 1rem;
      margin: 1rem 0;

      .ais-Highlight-highlighted {
        position: relative;
        font-weight: bolder;
        padding: 0.3rem 0;
        margin: 0;

        background: linear-gradient(
            104deg,
            rgba(130, 255, 173, 0) 0.9%,
            rgba(130, 255, 173, 1.25) 2.4%,
            rgba(130, 255, 173, 0.5) 5.8%,
            rgba(130, 255, 173, 0.1) 93%,
            rgba(130, 255, 173, 0.7) 96%,
            rgba(130, 255, 1732, 0) 98%
          ),
          linear-gradient(
            183deg,
            rgba(130, 255, 173, 0) 0%,
            rgba(130, 255, 173, 0.3) 7.9%,
            rgba(130, 255, 173, 0) 15%
          );
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
        border-radius: 7.5px;
      }
      .options {
        margin: 0.5rem 0;

        div {
          margin: 0.5rem 0;
        }
      }

      .solution {
        padding: 0.5rem;
        margin-top: 0.25rem;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(209, 213, 219);
        border-radius: 4px;

        .show {
          display: inline-block;
          width: 100%;
          cursor: pointer;
        }

        img {
          width: 100%;
          object-fit: contain;
        }
      }

      .wpProQuiz_respone_span {
        display: none;
      }
    }
  }
}
