@import "mixins.scss";
@import "instantSearch.scss";
@import "app.scss";
@import "typography.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    text-align: center;
    margin: 1rem 0.5rem;
    font-size: 5rem;

    @include sm {
      font-size: 3.5rem;
    }
  }

  .types {
    display: flex;
    background-color: white;
    color: #8a8a8a;
    border: 2px solid #f1f1f1;
    border-radius: 4px;
    margin: 1rem 0.5rem;

    .type {
      flex-grow: 1;
      text-align: center;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      cursor: pointer;
    }

    .current {
      background-color: #ebf3ff;
      color: #065cd8;
    }
  }
}
