.payment {

    &-card {
        background-color: #fefaee;
        margin-top: 15vh;
        min-height: 60vh;
        width: 38rem;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem .2rem;
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.05);

        @include sm {
            width: 20rem;
            margin-top: 15vh;
        }
    }

    &-logo {
        width: 5rem;
        margin: 1.5rem 0 .5rem 0;

        @include sm {
            width: 3rem;
        }
    }

    &-heading {
        font-size: 2.5rem;
        letter-spacing: 4px;

        @include sm {
            font-size: 1.5rem;
        }
    }

    &-benefit {

        &-list {
            list-style: none;
            padding: 0 2rem 0 2.2rem;
        }

        &-item {
            padding: 0.5rem 0;
            font-size: 1.5rem;

            @include sm {
                font-size: 1.3rem;
            }
        }
        
    }

    &-signout {
        position: absolute;
        top: 2rem;
        right: 1.5rem;
    }

    &-rate {
        color: #1E212D;
        width: 30rem;

        &-slider {
            width: 30rem;
        }

        &-label {
            display: flex;
            justify-content: space-between;

            .left {
                text-align: left;
            }

            .center {
                text-align: center;
            }

            .right {
                text-align: right;
            }

            .bold {
                font-weight: bolder;
            }
        }
    }

    &-links-div {
        display: flex;
        justify-content: center;
    }

    &-button {
        margin: 2.5rem 1rem 1rem 1rem;
        background-color: #FFEBC9;
        padding: .7rem 1.5rem;
        border-radius: 5px;

        @include sm {
            margin: 1rem 0.5rem;
        }

        &-link {
            color: #1E212D;
            text-decoration: none;
            font-weight: bolder;
            font-size: 1.5rem;
            letter-spacing: 2px;

            @include sm {
                font-size: 1rem;
            }
        }

        &-green {
            background-color: #57CC99;
        }
    }
}